// Import du fichier SCSS de Bootstrap //
@import "bootstrap/scss/bootstrap";

// Import des icones FontAwsome //
@import "@fortawesome/fontawesome-free/scss/fontawesome";

// styles personnalisés //
h1 {
  font-size: 250%;
}
h2, h3 {
  color: hsl(0, 100%, 0%);
  text-align: center;
  text-decoration: underline;
  font-family: serif;
}
main{
  min-height:calc(100vh - 56px);
}
main > .container {
  padding: 95px 15px 0 15px;
}
.challenge
{
  min-height: calc(100vh - 220px) !important;
  border: 5px solid tomato;
}
.lobster{
  font-family: 'Lobster', cursive;
}
